{{define "browsing-history"}}
<aside>
        <h1 class="subtitle">Browsing history</h1>
        <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                        <div class="tile">
                                <div class="tile is-parent is-vertical">
                                        <article class="tile is-child notification is-primary">
                                                <p class="title">Intel NUC kit NUC10i7FNH</p>
                                                <p class="subtitle">$589.45 USD</p>
                                        </article>
                                        <article class="tile is-child notification is-warning">
                                                <p class="title">Lacie d2 Professional</p>
                                                <p class="subtitle">$289.00 USD</p>
                                        </article>
                                </div>
                        </div>
                </div>
                <div class="tile is-parent"> 
                        <article class="tile is-child notification is-success">
                                <div class="content">
                                        <p class="title">Apple Pro XDR Display</p>
                                        <p class="subtitle">$4999.00 USD</p>
                                        <div class="content">
                                                {{img "/products/images/set-up-pro-display-xdr-hero.jpg" 200 "display"}}
                                        </div>
                                </div>
                        </article>
                </div>
        </div>
</aside>
{{end}}