{{define "footer"}}
<footer class="footer has-text-centered">
        <div class="container">
                <div class="columns">
                        <div class="column is-8-desktop is-offset-2-desktop">
                                <div class="vcard">
                                        <div class="fn org">Market</div>
                                        <div class="adr">
                                                <div class="street-address">1 Opensource Way, 1988th Floor</div>
                                                <div> <span class="locality">Carmel-by-the-sea</span>, <abbr class="region"
                                                                title="California">CA</abbr> <span
                                                                class="postal-code">93923</span></div>
                                                <div class="country-name">USA</div>
                                        </div>
                                        <div class="is-invisible">
                                                <div>Phone: <span class="tel">+1-800-000-0000</span></div>
                                                <div>Email: <a href="mailto:email@localhost"><span class="email">email@localhost</span></a></div>
                                                <div class="tel">
                                                        <span class="type">Fax</span>:
                                                        <span class="value">+1-800-000-0001</span>
                                                </div>
                                                <a class="url" href="https://example.com/">https://example.com/</a></div>
                                        </div>
                                        <p>
                                                <small>
                                                        Powered by <a href="https://github.com/plifk/market">market</a>.
                                                </small>
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</footer>
{{end}}
