{{define "head-stylesheet"}}
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono|Comfortaa:300" rel="stylesheet">
<link rel="stylesheet" href="/css/foundation-icons.css">
<link rel="stylesheet" href="/css/foundation.min.css">
<link rel="stylesheet" href="/webicons/webicons.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/henvic.css">
{{end}}
