{{define "search-navigation-bar"}}
<nav class="level">
        <div class="level-left">
                {{template "breadcrumb" .Breadcrumb}}
        </div>
        <div class="level-right">
                <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Sort by: Featured</span>
                                        <span class="icon is-small">
                                                <span class="material-icons">
                                                        arrow_drop_down
                                                </span>
                                        </span>
                                </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                        <a href="#" class="dropdown-item is-active">
                                                Featured
                                        </a>
                                        <a class="dropdown-item">
                                                Price: Low to High
                                        </a>
                                        <a href="#" class="dropdown-item">
                                                Price: High to Low
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</nav>
{{end}}