{{define "search-filter"}}
<ul>
        <li><a href="" class="has-text-weight-bold has-text-dark">Computers & Accessories</a></li>
        <li><a href="" class="has-text-dark">Desktop Barebones</a></li>
        <li><a href="" class="has-text-dark">Desktop Computers</a></li>
        <li><a href="" class="has-text-dark">Mini Computers</a></li>
        <li><a href="" class="has-text-dark">Computers & Tablets</a></li>
        <li><a href="" class="has-text-dark">Internal Solid State Drives</a></li>
        <li><a href="" class="has-text-dark"><small>See more</small>
        </li>
</ul>
<hr />
<ul>
                <li><strong>Brand</strong></li>
                <li>
                        <a href="">
                                <span class="icon has-text-dark">
                                        <span class="material-icons">
                                                check_box
                                        </span>
                                        LG
                                </span>
                        </a>
                </li>
                <li>
                        <a href="">
                                <span class="icon">
                                        <span class="material-icons">
                                                check_box_outline_blank
                                        </span>
                                        LG
                                </span>
                        </a>
                </li>
                <li>
                        <a href="">
                                <span class="icon">
                                        <span class="material-icons">
                                                check_box
                                        </span>
                                        LG
                                </span>
                        </a>
                </li>
                <li>
                        <a href="">
                                <span class="icon">
                                        <span class="material-icons">
                                                check_box
                                        </span>
                                        LG
                                </span>
                        </a>
                </li>
                <li>
                        <span class="icon">
                                <span class="material-icons">
                                        check_box_outline_blank
                                </span>
                                Dell
                        </span>
                </li>
                <li>
                        <span class="icon">
                                <span class="material-icons">
                                        check_box_outline_blank
                                </span>
                                Samsung
                        </span>
                </li>
                <li>
                        <span class="icon">
                                <span class="material-icons">
                                        check_box_outline_blank
                                </span>
                                Apple
                        </span>
                </li>
                <li>
                        <span class="icon">
                                <span class="material-icons">
                                        check_box_outline_blank
                                </span>
                                Lacie
                        </span>
                </li>
</ul>
<table>
        <tr>
                <th>Screen size</th>
        </tr>
        <tr><td><label class="checkbox"><input type="checkbox"> 22 inches</label></td></tr>
        <tr><td><label class="checkbox"><input type="checkbox"> 24 inches</label></td></tr>
        <tr><td><label class="checkbox"><input type="checkbox"> 27 inches</label></td></tr>
        <tr><td><label class="checkbox"><input type="checkbox"> 32 inches</label></td></tr>
        <tr><td><label class="checkbox"><input type="checkbox"> 34 inches</label></td></tr>
</table>
<table>
        <tr>
                <th>Refresh rate</th>
        </tr>
        <tr>
                <td><label class="checkbox"><input type="checkbox"> 60 Hz</label></td>
        </tr>
        <tr>
                <td><label class="checkbox"><input type="checkbox"> 120 Hz</label></td>
        </tr>
        <tr>
                <td><label class="checkbox"><input type="checkbox"> 144 Hz</label></td>
        </tr>
</table>
{{end}}